html{
  font-family: Helvetica;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
}
.header img{
  height:50px;
}
span{
  text-decoration: underline;
}
.container{
  display: flex;
}
.header{
  height: 69px auto;
}
nav{
  display: inline-flex;
}
