html{
  font-family: Helvetica;
  font-size:22px;
  color:seashell;
  background-color: black;
  opacity: .9;
  text-align: center;
  margin: 0px auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:69px;
  margin: 0px 10px;
  border-bottom: 1px solid seashell;
  width: 97%;
  position: fixed;
  z-index: 10;
  background-color: black;
}
.header img{
  height: 50px;
}

.header span{
  text-decoration: underline;
}
.mission img{
  margin-top: 51px;
  position: relative;
}
